@font-face {
  font-family: "Flutterwave";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/FLW-Regular.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Flutterwave";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/FLW-Italic.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Flutterwave";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/FLW-Bold.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Flutterwave";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Flutterwave-Black.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
