@font-face {
  font-family: "SfPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/SFPro/SFProDisplay-Regular.woff") format("woff");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "SfPro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/SFPro/SFProDisplay-Medium.woff") format("woff");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "SfPro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/SFPro/SFProDisplay-Bold.woff") format("woff");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "SfPro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../assets/fonts/SFPro/SFProDisplay-Heavy.woff") format("woff");
  text-rendering: optimizeLegibility;
}
