body {
  font-family: "Flutterwave", sans-serif;
  min-height: 100vh;
  background: $col-gray-light;
  &.no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#__layout {
  width: 100%;
  > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    align-self: center;
  }

  footer {
    margin-top: auto;
  }
}

.c-lines {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 988 1024' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.5' stroke='%23F5A623' stroke-linecap='square'%3E%3Cpath d='M1.5 1032.5L1600.43-535.719M10.5 1039.5L1609.43-528.719M19.5 1046.5L1618.43-521.719M28.5 1053.5L1627.43-514.719M37.5 1060.5L1636.43-507.719M46.5 1067.5L1645.43-500.719M55.5 1074.5L1654.43-493.719M64.5 1081.5L1663.43-486.719M73.5 1088.5L1672.43-479.719M82.5 1095.5L1681.43-472.719M91.5 1102.5L1690.43-465.719M100.5 1109.5L1699.43-458.719M109.5 1116.5L1708.43-451.719M118.5 1123.5L1717.43-444.719M127.5 1130.5L1726.43-437.719M136.5 1137.5L1735.43-430.719M145.5 1144.5L1744.43-423.719M154.5 1151.5L1753.43-416.719M163.5 1158.5L1762.43-409.719M172.5 1165.5L1771.43-402.719M181.5 1172.5L1780.43-395.719M190.5 1179.5L1789.43-388.719M199.5 1186.5L1798.43-381.719M208.5 1193.5L1807.43-374.719M217.5 1200.5L1816.43-367.719M226.5 1207.5L1825.43-360.719M235.5 1214.5L1834.43-353.719M244.5 1221.5L1843.43-346.719M253.5 1228.5L1852.43-339.719M262.5 1235.5L1861.43-332.719M271.5 1242.5L1870.43-325.719M280.5 1249.5L1879.43-318.719M289.5 1256.5L1888.43-311.719M298.5 1263.5L1897.43-304.719M307.5 1270.5L1906.43-297.719M316.5 1277.5L1915.43-290.719M325.5 1284.5L1924.43-283.719M334.5 1291.5L1933.43-276.719'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  z-index: -1;
}

.c-error {
  &__text {
    margin-bottom: 30px;
  }
}
