body {
  font-family: "Flutterwave", sans-serif;
  min-height: 100vh;
  background: $col-gray-light;
  &.no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#__layout {
  width: 100%;
  > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    align-self: center;
  }

  footer {
    margin-top: auto;
  }
}
