$col-gray-light: #f2f2f2;
$col-gray-dark: #333333;
$col-gray-md: #4a4a4a;
$col-black: #12122c;
$col-yellow: #f5a623;
$col-white: #ffffff;
$col-red: #eb5757;
$col-gray: #828282;
$form-gray: #fdfdfd;
$col-green: #219653;
