.c-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: $col-gray-light;
  width: 100%;
  color: $col-gray-md;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.02em;

  &__inner {
    @include flex(space-between, center);
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &__copy {
    flex-shrink: 0;
    @include media("<=phone") {
      width: 100%;
      text-align: center;
    }
  }

  &__legal {
    width: 100%;
    max-width: 250px;
    margin-left: 20px;
    @include flex(space-between, center);

    @include media("<=phone") {
      display: none;
    }
  }
}
