.c-nav {
  padding: 20px 60px;
  @include flex(space-between, center);

  &__links {
    @include flex($align: center);

    a {
      color: $col-gray-dark;
      font-weight: 500;
      font-size: 14px;
    }

    .c-button {
      padding: 10px 24px;
      margin-left: 30px;

      @include media("<=tablet") {
        display: none;
      }
    }
  }

  @include media("<=600px") {
    padding: 20px;
  }
}
